{% extends "base.html" %}
{% block content %}
<style>
    .image {
        width: 100%;
        height: auto;

    }
    .ser{
        margin-top: 5%;
        margin-bottom: 5%;
    }
</style>

<div class="container ser">
    <h2 class="text-center mb-5">Your search results</h2>

    <div class="row">


        {% for hoods in hood %}
        <div class="col-md-6">
            <img src="{{hoods.photo.url}}" alt="" class="image">
            <h3 class="name">{{hoods.name}}</h3>
            <p>{{hoods.members.count}} Member{{hoods.members.count|pluralize}}</p>
            <p> {{ hoods.location }}</p>
            <p>{{ hoods.content }}</p>
            <p>Health Center Contact: {{ hoods.health_cell }}</p>
            <p>Police_hotline: {{ hoods.police_hotline }}</p>
            <p>Founded: {{ hoods.created_on|date }}</p>
            <p>Updated: {{ hoods.updated_on|date}}</p>

            {% if request.user.profile.neighborhood == hoods %}
            <a href="{% url 'leave_hood' hoods.id %}" class="btn btn-outline-danger btn-sm">Leave at will</a>

            <a href="{%url 'single_hood' hoods.name %}" class="btn btn-outline-success btn-sm"
                style="float: right">Explore {{hoods.name}}
            </a>
            {% elif not request.user.profile.neighborhood %}
            <a href="{% url 'join_hood' hoods.id %}" class="btn btn-info btn-sm">Join Hood</a>
            {% endif %}
        </div>

        {% empty %}
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Oops!</h4>
                <p>No results found for your search term.</p>
            </div>
        </div>
        {% endfor %}







    </div>
</div>
{% endblock %}