{% extends "base.html" %}
{% block content %}
<style>
    body{
    font-family: 'Lato', global_font_string;
    font-weight: 500;
    background-color: #081c15;
    color: whitesmoke;
    }
    .image{
        height: auto;
        width: 100%;
    }
    .hood{
        margin-top: 5%;
    }
    .link{
        margin-top: 3%;
    }
</style>
<div class="container hood">
      <div class="hoods">
        <h3 class="text-center">{{hood.name}}</h3>
          <div class="row">
            <div class="col-md-6">
                <img src="{{hood.photo.url}}"class="image">
            </div>
            <div class="col-md-6">
                <h3 class="name">{{hoods.name}}</h3>
                <p>{{hood.members.count}} Member{{hood.members.count|pluralize}}</p>
                <p> {{ hood.location }}</p>
                
                <p>{{ hood.content }}</p>
                <p>Health Center Contact: {{ hood.health_cell }}</p>
                <p>Police_hotline: {{ hood.police_hotline }}</p>
                <p>Founded: {{ hood.created_on|date }}</p>
                <p>Updated: {{ hood.updated_on|date}}</p>
            </div>
            
            
        </div>
        <div class="link">
            <a href="{% url 'leave_hood' hood.id %}" class="btn btn-outline-danger btn-sm">Leave at will</a>
        </div>
        <h2 class="text-center">Businesses</h2>
        <div class="col-md-12">
            <div class="card m-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Photo</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Location</th>
                            <th scope="col">Neighborhood</th>
                            <th scope="col">Date</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for business in businesses %}
                        <tr>
                            
                            <td><img src="{{hood.photo.url}}"class="image" style="border-radius: 50%; width: 20%; height: 0%;"></td>
                            <td>{{ business.business_name }}</td>
                            <td>{{ business.email }}</td>
                            <td>{{ business.location }}</td>
                            <td>
                                <span class="">
                                    {{ business.neighborhood }}
                                </span>
                            </td>
                            <td>{{ business.created_on|date }}</td>
                            <td>
    
                                
                                <a class="text-danger" href="">
                                    <i class="fa fa-trash-alt text-danger"></i>
                                </a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4" class="text-center text-danger">No Businesses Created!</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
    <h2 class="text-center">Posts</h2>
    <div class="col-md-12 links">
        <div class="card">
            <table class="table">
                <thead>
                    <tr>
                        
                        <th scope="col">Title</th>
                        <th scope="col">Content</th>
                        <th scope="col">Location</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts %}
                    <tr>
                        
                        <td>{{ post.title }}</td>
                        <td>{{ post.content }}</td>
                        <td><span class="badge rounded-pill bg-secondary text-white">
                                {{ post.location }}
                            </span></td>
                            <td>
                                <a class="text-danger" href="">
                                    <i class="fa fa-trash-alt text-danger"></i>
                                </a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5" class="text-center text-danger">No Posts Created!</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
   
</div>


{% endblock %}